<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>BapSync</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <script type="text/javascript" src="/javascripts/IssuesFormApp.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap-flatly.min.css">
    <link rel="stylesheet" href="/stylesheets/issuesForm.css" />
</head>
<body ng-app="issuesFormApp" ng-controller="IssuesFormCtrl">
    <div class="panel panel-primary">
        <div class="panel-heading">Issue Creater</div>
        <div class="panel-body">
            <div class="input-group">
                <p>Title:</p>
                <textarea ng-model="commentTitle" rows="1" type="text" class="form-control"></textarea>
                <p>Text:</p>
                <textarea ng-model="commentText" rows="3" type="text" class="form-control"></textarea>
            </div><!-- /input-group -->
            <button ng-click="submitIssue(commentTitle, commentText)" type="button" class="btn btn-default closeButtonRepeat">Submit</button>
        </div>
    </div>
</body>
</html>