<!DOCTYPE html>
<html>
<head>
    
	<title>BapSync</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <meta charset="utf-8">   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <script type="text/javascript" src="/javascripts/loginApp.js"></script>
    
</head>
    
<body ng-app="loginApp" ng-controller="loginCtrl">
    <div class="container">
        <div class="row main">
			<div class="img-responsive">
				<img src="/images/github.png" style="width: 150px; height: 150px;">
			</div>
			
            <div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Login with your Github account</h1>
	               		<hr />
	               	</div>
	        </div> 
            <div class="main-login main-center">
                <form class="form-horizontal" method="post" action="#">
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" ng-model="username" class="form-control" name="name" id="name"  placeholder="Enter your Username"/>
								</div>
							</div>
                    </div>
                    <div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" ng-model="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
								</div>
							</div>
				    </div>
                    <div class="form-group">
                        <button type="button" ng-click="login(username, password)" class="btn btn-primary btn-lg btn-block login-button">Login</button>
                    </div>
                </form>   
            </div>
        </div>
    </div>
</body>
</html>