<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>BapSync</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap-flatly.min.css">
    <link rel="stylesheet" href="/stylesheets/StudentList.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <script type="text/javascript" src="/javascripts/StudentListApp.js"></script>
    
</head>
<body ng-app="studentListApp" ng-controller="studentListCtrl">
<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header" ng-init="buttonBackgroundL='buttonNormal';buttonBackgroundO='buttonClicked'">
                <button ng-click=navigation("login") type="button" class="btn btn-default navbar-btn buttonNormal">Login</button>
                <button ng-click=navigation("StudentList") type="button" class="btn btn-default navbar-btn buttonClicked">StudentList</button>
                <button ng-click=navigation("Overview") type="button" class="btn btn-default navbar-btn buttonNormal">Overview</button>
                <button ng-click=special("/studentList/refresh") type="button" class="btn btn-default navbar-btn buttonSpecial">studentList refresh</button>
                <p class="navbar-text navbar-right">Signed in as {{ docent }}</p>
            </div>
        </div>
    </nav>

</div>
<div class="studentsContainer">
    <div class="panel panel-info studentRepeatDIV {{student.subbed}}" ng-repeat="student in students" ng-click=selectStudent(student.full)>
        <h3 class="studentRepeatH3">{{student.full}}</h3>
        <ul class="studentRepeatUL">
            <li>
                <p>Owner: {{student.owner}}</p>
            </li>
            <li>
                <p>Repository: {{student.repo}}</p>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
