body {
    width: 100%;
}

.commitsDiv {
    margin: auto;
    margin-bottom: 2%;
    width: 50%;
}

.authorName, .authorDate {
    margin-left: 2%;
    margin-top: 1%;
    
}

.num {
    text-align: center;
    font-weight: bold;
}
