body {
    width: 100%;
}

.commitsDiv {
    margin: auto;
    margin-bottom: 2%;
    width: 50%;
}

.authorName, .authorDate {
    margin-left: 2%;
    margin-top: 2%;
    
}

.num {
    margin: auto;
    width: 10%;
    font-weight: bold;
}
