body, html{
	height: 100%;
	font-family: 'Oxygen', sans-serif;
}

.img-responsive {
	text-align: center;
}

.main{
	margin-top: 2%;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 1%;
}

label{
	margin-bottom: 1%;
}

input,
input::-webkit-input-placeholder {
	font-size: 11px;
	padding-top: 3px;
}

.well {
	margin: auto;
	width: 35%;
	
}

.form-horizontal {
	margin: 2%;
}

.login-button{
	margin-top: 1%;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
