body {
    width: 100%;
}
.log{
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    padding: 1%;

}
.scriptie {
    background-color: lightgray;
    float: right;
    margin: auto;
}
.foot {
    width: 50%;
    margin: auto;
}
.notFound{

    background-color: red;
}