body{
    width: 100%;
    padding-top: 5%;
}
.buttonClicked {
    background-color: #2c3e50;
}
.buttonNormal{
}
.page {
    width: 85%;
    margin: auto;
}
.span2 {
    width: 20%;
    display: inline-block;
    text-align: left;
}
.span10 {
    width: 65%;
    float: right;
    margin-right: 5%;

}
.btn-success {
    float: right;
}

a:hover {
    color: white;
    background-color: #2c3e50;
}

.alert {
    height: 75px;
}
#info {
    height: 140px;
}
@media screen and (max-width: 1300px) {
    body {
        margin-top: 2%;
    }
    .span2 {
        width: 28%;
    }
}
@media screen and (max-width: 885px) {
    body {
        margin-top: 5%;
    }
    .page {
        width: 100%;
    }
    .span10 {
        margin-right: 0%;
    }
}