body{
    width: 100%;
}
.buttonClicked {
    background-color: #0094ff;
}
.buttonNormal{
    background-color: white;
}
.span2 {
    width: 25%;
    display: inline-block;
    margin-left: 20px;
    
}
.span10 {
    width: 60%;
    float: right;
    margin-right: 10%;

}
.btn-success {
    float: right;
}