body{
    width: 100%;
}
.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  background-image: url('/images/ap_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
  
  filter: blur(8px);
}
.content {
    width: 50%;
    margin: auto;
    z-index: 0;
}
.wrapper {
    text-align: center;
}
.btn btn-default {
    position: absolute;
}
.studentRepeatUL{
    list-style-type: none;
    margin-left: 2%;
    padding-left: 0%;
}
.studentRepeatH3{
    margin-left: 2%;
    color: gray;
}
.studentRepeatDIV {
    margin-left: 2%;
}
.subscriped {
    background-color: #91170a;
    color: white;

}
.unsubscriped {
    background-color: white;
}

