body{
    width: 100%;
}

.buttonClicked {
    background-color: #0094ff;
}
.buttonNormal{
    background-color: white;
}
.studentRepeatUL{
    list-style-type: none;
    margin-left: 2%;
    padding-left: 0%;
}
.studentRepeatH3{
    margin-left: 2%;
}
.studentRepeatDIV {
    margin-left: 2%;
    width: 50%;
}

